<h2> Details </h2>
<div class="card">
    <div class="card-body">
        <div class="card-body float-right">
            <form (ngSubmit)="onAddToCart(f)" #f="ngForm">
                <button class="btn btn-primary "
                type="submit" 
                [disabled]="!f.valid">
                Add to Cart</button>
                <input type="number" 
                style="max-width: 100px; margin-left: 10px;" 
                placeholder="Amount" 
                ngModel
                name="Amount"   
                required
                pattern="^[0-9]+[1-9]*$">
            </form>
        </div>
        <h1 class="list-group-item-heading"><b>{{ displayProduct.name }}</b></h1>
        <h6 class="card-subtitle mb-2 text-muted">{{ displayProduct.type }}</h6>
        <p>{{ displayProduct.desctription }}</p>
        <button class="btn btn-primary "
        routerLink="edit">Edit</button>
        <hr>
            <h5 ><b>Cost :</b> INR <span style="color:red;"> {{ displayProduct.cost }}</span></h5>       
        <hr>
        <img class="card-img-bottom"
        [src]="displayProduct.image" alt="" 
        class="img-responsive" style="max-height:350px ;">
        <hr>
        <div *ngFor="let component of displayProduct.components">
           <pre> <b>{{ component.name  }}</b>  -  {{ component.Quantity }} </pre>
        </div>
    </div>
  </div>



